---
layout: archive
---

{{ content }}


<div class="page__content">
  <h1>Sanghyun Park</h1>

  <p>
    Hello, I'm <strong>Sanghyun Park</strong>, a security engineer/researcher
    interested in fuzzing, directed fuzzing, LLMs, and overall software
    security.
  </p>
  <p>
    I'm currently seeking job opportunities.
  </p>

  <p>
    You can find my experiences <a href="/about/">here</a>, and you can reach out to me via:
  </p>
  <ul>
    <li>sanghyun.park.cnu@gmail.com</li>
  </ul>
</div>

<br>

<!-- This is a code snippet for showing recent posts.
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
-->
